@charset "UTF-8";
#cart .card, .listado-productos .card {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
}

@font-face {
  src: url("../assets/fonts/anton-regular.woff");
  font-family: "Anton";
  font-weight: normal;
}
@font-face {
  src: url("../assets/fonts/manjari-regular.woff");
  font-family: "Manjari";
  font-weight: normal;
}
@font-face {
  font-family: "Material Icons";
  src: url("../assets/fonts/material.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "";
}

.icon-error_outline:before {
  content: "";
}

.icon-warningreport_problem:before {
  content: "";
}

.icon-add_alert:before {
  content: "";
}

.icon-notification_important:before {
  content: "";
}

.icon-album:before {
  content: "";
}

.icon-av_timer:before {
  content: "";
}

.icon-closed_caption:before {
  content: "";
}

.icon-equalizer:before {
  content: "";
}

.icon-explicit:before {
  content: "";
}

.icon-fast_forward:before {
  content: "";
}

.icon-fast_rewind:before {
  content: "";
}

.icon-gamesgamepad:before {
  content: "";
}

.icon-hearing:before {
  content: "";
}

.icon-high_quality:before {
  content: "";
}

.icon-loopsync:before {
  content: "";
}

.icon-mic:before {
  content: "";
}

.icon-mic_none:before {
  content: "";
}

.icon-mic_off:before {
  content: "";
}

.icon-moviemovie_creation:before {
  content: "";
}

.icon-library_addqueueadd_to_photos:before {
  content: "";
}

.icon-library_books:before {
  content: "";
}

.icon-library_music:before {
  content: "";
}

.icon-new_releases:before {
  content: "";
}

.icon-not_interesteddo_not_disturb:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-pause_circle_filled:before {
  content: "";
}

.icon-pause_circle_outline:before {
  content: "";
}

.icon-play_arrow:before {
  content: "";
}

.icon-play_circle_filled:before {
  content: "";
}

.icon-play_circle_outline:before {
  content: "";
}

.icon-playlist_add:before {
  content: "";
}

.icon-queue_music:before {
  content: "";
}

.icon-radio:before {
  content: "";
}

.icon-recent_actors:before {
  content: "";
}

.icon-repeat:before {
  content: "";
}

.icon-repeat_one:before {
  content: "";
}

.icon-replay:before {
  content: "";
}

.icon-shuffle:before {
  content: "";
}

.icon-skip_next:before {
  content: "";
}

.icon-skip_previous:before {
  content: "";
}

.icon-snooze:before {
  content: "";
}

.icon-stop:before {
  content: "";
}

.icon-subtitles:before {
  content: "";
}

.icon-surround_sound:before {
  content: "";
}

.icon-video_collection:before {
  content: "";
}

.icon-videocam:before {
  content: "";
}

.icon-videocam_off:before {
  content: "";
}

.icon-volume_down:before {
  content: "";
}

.icon-volume_mute:before {
  content: "";
}

.icon-volume_off:before {
  content: "";
}

.icon-volume_up:before {
  content: "";
}

.icon-web:before {
  content: "";
}

.icon-hd:before {
  content: "";
}

.icon-sort_by_alpha:before {
  content: "";
}

.icon-airplay:before {
  content: "";
}

.icon-forward_10:before {
  content: "";
}

.icon-forward_30:before {
  content: "";
}

.icon-forward_5:before {
  content: "";
}

.icon-replay_10:before {
  content: "";
}

.icon-replay_30:before {
  content: "";
}

.icon-replay_5:before {
  content: "";
}

.icon-add_to_queue:before {
  content: "";
}

.icon-fiber_dvr:before {
  content: "";
}

.icon-fiber_new:before {
  content: "";
}

.icon-playlist_play:before {
  content: "";
}

.icon-art_track:before {
  content: "";
}

.icon-fiber_manual_record:before {
  content: "";
}

.icon-fiber_smart_record:before {
  content: "";
}

.icon-music_video:before {
  content: "";
}

.icon-subscriptions:before {
  content: "";
}

.icon-playlist_add_check:before {
  content: "";
}

.icon-queue_play_next:before {
  content: "";
}

.icon-remove_from_queue:before {
  content: "";
}

.icon-slow_motion_video:before {
  content: "";
}

.icon-web_asset:before {
  content: "";
}

.icon-fiber_pin:before {
  content: "";
}

.icon-branding_watermark:before {
  content: "";
}

.icon-call_to_action:before {
  content: "";
}

.icon-featured_play_list:before {
  content: "";
}

.icon-featured_video:before {
  content: "";
}

.icon-note:before {
  content: "";
}

.icon-video_call:before {
  content: "";
}

.icon-video_label:before {
  content: "";
}

.icon-4k:before {
  content: "";
}

.icon-missed_video_call:before {
  content: "";
}

.icon-control_camera:before {
  content: "";
}

.icon-businessdomain:before {
  content: "";
}

.icon-call:before {
  content: "";
}

.icon-call_end:before {
  content: "";
}

.icon-call_made:before {
  content: "";
}

.icon-call_mergemerge_type:before {
  content: "";
}

.icon-call_missed:before {
  content: "";
}

.icon-call_received:before {
  content: "";
}

.icon-call_split:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-clear_all:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-contacts:before {
  content: "";
}

.icon-dialer_sip:before {
  content: "";
}

.icon-dialpad:before {
  content: "";
}

.icon-emailmailmarkunreadlocal_post_office:before {
  content: "";
}

.icon-forumquestion_answer:before {
  content: "";
}

.icon-import_export:before {
  content: "";
}

.icon-invert_colors_off:before {
  content: "";
}

.icon-live_help:before {
  content: "";
}

.icon-location_off:before {
  content: "";
}

.icon-location_onplaceroom:before {
  content: "";
}

.icon-message:before {
  content: "";
}

.icon-chat_bubble:before {
  content: "";
}

.icon-chat_bubble_outline:before {
  content: "";
}

.icon-no_simsignal_cellular_no_sim:before {
  content: "";
}

.icon-phonelocal_phone:before {
  content: "";
}

.icon-portable_wifi_off:before {
  content: "";
}

.icon-contact_phone:before {
  content: "";
}

.icon-contact_mail:before {
  content: "";
}

.icon-ring_volume:before {
  content: "";
}

.icon-speaker_phone:before {
  content: "";
}

.icon-stay_current_landscapestay_primary_landscape:before {
  content: "";
}

.icon-stay_current_portraitstay_primary_portraitsmartphone:before {
  content: "";
}

.icon-swap_calls:before {
  content: "";
}

.icon-textsmssms:before {
  content: "";
}

.icon-voicemail:before {
  content: "";
}

.icon-vpn_key:before {
  content: "";
}

.icon-phonelink_erase:before {
  content: "";
}

.icon-phonelink_lock:before {
  content: "";
}

.icon-phonelink_ring:before {
  content: "";
}

.icon-phonelink_setup:before {
  content: "";
}

.icon-present_to_all:before {
  content: "";
}

.icon-import_contacts:before {
  content: "";
}

.icon-mail_outline:before {
  content: "";
}

.icon-screen_share:before {
  content: "";
}

.icon-stop_screen_share:before {
  content: "";
}

.icon-call_missed_outgoing:before {
  content: "";
}

.icon-rss_feed:before {
  content: "";
}

.icon-alternate_email:before {
  content: "";
}

.icon-mobile_screen_share:before {
  content: "";
}

.icon-add_call:before {
  content: "";
}

.icon-cancel_presentation:before {
  content: "";
}

.icon-pause_presentation:before {
  content: "";
}

.icon-unsubscribe:before {
  content: "";
}

.icon-cell_wifi:before {
  content: "";
}

.icon-sentiment_satisfied_alt:before {
  content: "";
}

.icon-list_alt:before {
  content: "";
}

.icon-domain_disabled:before {
  content: "";
}

.icon-lightbulb:before {
  content: "";
}

.icon-add:before {
  content: "";
}

.icon-add_box:before {
  content: "";
}

.icon-add_circle:before {
  content: "";
}

.icon-add_circle_outlinecontrol_point:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-backspace:before {
  content: "";
}

.icon-block:before {
  content: "";
}

.icon-clearclose:before {
  content: "";
}

.icon-content_copy:before {
  content: "";
}

.icon-content_cut:before {
  content: "";
}

.icon-content_paste:before {
  content: "";
}

.icon-createmode_editedit:before {
  content: "";
}

.icon-drafts:before {
  content: "";
}

.icon-filter_list:before {
  content: "";
}

.icon-flagassistant_photo:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-gesture:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-linkinsert_link:before {
  content: "";
}

.icon-redo:before {
  content: "";
}

.icon-remove:before {
  content: "";
}

.icon-remove_circledo_not_disturb_on:before {
  content: "";
}

.icon-remove_circle_outline:before {
  content: "";
}

.icon-reply:before {
  content: "";
}

.icon-reply_all:before {
  content: "";
}

.icon-report:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-select_all:before {
  content: "";
}

.icon-send:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-text_format:before {
  content: "";
}

.icon-undo:before {
  content: "";
}

.icon-font_download:before {
  content: "";
}

.icon-move_to_inbox:before {
  content: "";
}

.icon-unarchive:before {
  content: "";
}

.icon-next_week:before {
  content: "";
}

.icon-weekend:before {
  content: "";
}

.icon-delete_sweep:before {
  content: "";
}

.icon-low_priority:before {
  content: "";
}

.icon-outlined_flag:before {
  content: "";
}

.icon-link_off:before {
  content: "";
}

.icon-report_off:before {
  content: "";
}

.icon-save_alt:before {
  content: "";
}

.icon-ballot:before {
  content: "";
}

.icon-file_copy:before {
  content: "";
}

.icon-how_to_reg:before {
  content: "";
}

.icon-how_to_vote:before {
  content: "";
}

.icon-waves:before {
  content: "";
}

.icon-where_to_vote:before {
  content: "";
}

.icon-add_link:before {
  content: "";
}

.icon-inventory:before {
  content: "";
}

.icon-access_alarmalarm:before {
  content: "";
}

.icon-access_alarms:before {
  content: "";
}

.icon-access_timequery_builderschedule:before {
  content: "";
}

.icon-add_alarmalarm_add:before {
  content: "";
}

.icon-airplanemode_inactive:before {
  content: "";
}

.icon-airplanemode_activeflightlocal_airport:before {
  content: "";
}

.icon-battery_alert:before {
  content: "";
}

.icon-battery_charging_full:before {
  content: "";
}

.icon-battery_fullbattery_std:before {
  content: "";
}

.icon-battery_unknown:before {
  content: "";
}

.icon-bluetooth:before {
  content: "";
}

.icon-bluetooth_connected:before {
  content: "";
}

.icon-bluetooth_disabled:before {
  content: "";
}

.icon-bluetooth_searchingbluetooth_audio:before {
  content: "";
}

.icon-brightness_auto:before {
  content: "";
}

.icon-brightness_highbrightness_7:before {
  content: "";
}

.icon-brightness_lowbrightness_5:before {
  content: "";
}

.icon-brightness_mediumbrightness_6:before {
  content: "";
}

.icon-data_usage:before {
  content: "";
}

.icon-developer_mode:before {
  content: "";
}

.icon-devicesphonelink:before {
  content: "";
}

.icon-dvr:before {
  content: "";
}

.icon-gps_fixedmy_location:before {
  content: "";
}

.icon-gps_not_fixedlocation_searching:before {
  content: "";
}

.icon-gps_offlocation_disabled:before {
  content: "";
}

.icon-graphic_eq:before {
  content: "";
}

.icon-network_cell:before {
  content: "";
}

.icon-network_wifi:before {
  content: "";
}

.icon-nfc:before {
  content: "";
}

.icon-now_wallpaper:before {
  content: "";
}

.icon-now_widgets:before {
  content: "";
}

.icon-screen_lock_landscape:before {
  content: "";
}

.icon-screen_lock_portrait:before {
  content: "";
}

.icon-screen_lock_rotation:before {
  content: "";
}

.icon-screen_rotation:before {
  content: "";
}

.icon-sd_storagesd_card:before {
  content: "";
}

.icon-settings_system_daydream:before {
  content: "";
}

.icon-signal_cellular_4_bar:before {
  content: "";
}

.icon-signal_cellular_connected_no_internet_4_bar:before {
  content: "";
}

.icon-signal_cellular_null:before {
  content: "";
}

.icon-signal_cellular_off:before {
  content: "";
}

.icon-signal_wifi_4_bar:before {
  content: "";
}

.icon-signal_wifi_4_bar_lock:before {
  content: "";
}

.icon-signal_wifi_off:before {
  content: "";
}

.icon-storage:before {
  content: "";
}

.icon-usb:before {
  content: "";
}

.icon-wifi_lock:before {
  content: "";
}

.icon-wifi_tethering:before {
  content: "";
}

.icon-add_to_home_screen:before {
  content: "";
}

.icon-device_thermostat:before {
  content: "";
}

.icon-mobile_friendly:before {
  content: "";
}

.icon-mobile_off:before {
  content: "";
}

.icon-signal_cellular_alt:before {
  content: "";
}

.icon-attach_file:before {
  content: "";
}

.icon-attach_money:before {
  content: "";
}

.icon-border_all:before {
  content: "";
}

.icon-border_bottom:before {
  content: "";
}

.icon-border_clear:before {
  content: "";
}

.icon-border_color:before {
  content: "";
}

.icon-border_horizontal:before {
  content: "";
}

.icon-border_inner:before {
  content: "";
}

.icon-border_left:before {
  content: "";
}

.icon-border_outer:before {
  content: "";
}

.icon-border_right:before {
  content: "";
}

.icon-border_style:before {
  content: "";
}

.icon-border_top:before {
  content: "";
}

.icon-border_vertical:before {
  content: "";
}

.icon-format_align_center:before {
  content: "";
}

.icon-format_align_justify:before {
  content: "";
}

.icon-format_align_left:before {
  content: "";
}

.icon-format_align_right:before {
  content: "";
}

.icon-format_bold:before {
  content: "";
}

.icon-format_clear:before {
  content: "";
}

.icon-format_color_fill:before {
  content: "";
}

.icon-format_color_reset:before {
  content: "";
}

.icon-format_color_text:before {
  content: "";
}

.icon-format_indent_decrease:before {
  content: "";
}

.icon-format_indent_increase:before {
  content: "";
}

.icon-format_italic:before {
  content: "";
}

.icon-format_line_spacing:before {
  content: "";
}

.icon-format_list_bulleted:before {
  content: "";
}

.icon-format_list_numbered:before {
  content: "";
}

.icon-format_paint:before {
  content: "";
}

.icon-format_quote:before {
  content: "";
}

.icon-format_size:before {
  content: "";
}

.icon-format_strikethrough:before {
  content: "";
}

.icon-format_textdirection_l_to_r:before {
  content: "";
}

.icon-format_textdirection_r_to_l:before {
  content: "";
}

.icon-format_underlined:before {
  content: "";
}

.icon-functions:before {
  content: "";
}

.icon-insert_chartpollassessment:before {
  content: "";
}

.icon-insert_comment:before {
  content: "";
}

.icon-insert_drive_file:before {
  content: "";
}

.icon-insert_emoticontag_facesmood:before {
  content: "";
}

.icon-insert_invitationevent:before {
  content: "";
}

.icon-insert_photoimagephoto:before {
  content: "";
}

.icon-mode_comment:before {
  content: "";
}

.icon-publish:before {
  content: "";
}

.icon-space_bar:before {
  content: "";
}

.icon-strikethrough_s:before {
  content: "";
}

.icon-vertical_align_bottom:before {
  content: "";
}

.icon-vertical_align_center:before {
  content: "";
}

.icon-vertical_align_top:before {
  content: "";
}

.icon-wrap_text:before {
  content: "";
}

.icon-money_off:before {
  content: "";
}

.icon-drag_handle:before {
  content: "";
}

.icon-format_shapes:before {
  content: "";
}

.icon-highlight:before {
  content: "";
}

.icon-linear_scale:before {
  content: "";
}

.icon-short_text:before {
  content: "";
}

.icon-text_fields:before {
  content: "";
}

.icon-monetization_on:before {
  content: "";
}

.icon-title:before {
  content: "";
}

.icon-table_chart:before {
  content: "";
}

.icon-add_comment:before {
  content: "";
}

.icon-format_list_numbered_rtl:before {
  content: "";
}

.icon-scatter_plot:before {
  content: "";
}

.icon-score:before {
  content: "";
}

.icon-insert_chart_outlined:before {
  content: "";
}

.icon-bar_chart:before {
  content: "";
}

.icon-notes:before {
  content: "";
}

.icon-attachment:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-cloud_circle:before {
  content: "";
}

.icon-cloud_done:before {
  content: "";
}

.icon-cloud_download:before {
  content: "";
}

.icon-cloud_off:before {
  content: "";
}

.icon-cloud_queue:before {
  content: "";
}

.icon-cloud_uploadbackup:before {
  content: "";
}

.icon-file_downloadget_app:before {
  content: "";
}

.icon-file_upload:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-folder_open:before {
  content: "";
}

.icon-folder_shared:before {
  content: "";
}

.icon-create_new_folder:before {
  content: "";
}

.icon-cast:before {
  content: "";
}

.icon-cast_connected:before {
  content: "";
}

.icon-computerlaptop:before {
  content: "";
}

.icon-desktop_mac:before {
  content: "";
}

.icon-desktop_windows:before {
  content: "";
}

.icon-developer_board:before {
  content: "";
}

.icon-dock:before {
  content: "";
}

.icon-headset:before {
  content: "";
}

.icon-headset_mic:before {
  content: "";
}

.icon-keyboard:before {
  content: "";
}

.icon-keyboard_arrow_down:before {
  content: "";
}

.icon-keyboard_arrow_left:before {
  content: "";
}

.icon-keyboard_arrow_right:before {
  content: "";
}

.icon-keyboard_arrow_up:before {
  content: "";
}

.icon-keyboard_backspace:before {
  content: "";
}

.icon-keyboard_capslock:before {
  content: "";
}

.icon-keyboard_hide:before {
  content: "";
}

.icon-keyboard_return:before {
  content: "";
}

.icon-keyboard_tab:before {
  content: "";
}

.icon-keyboard_voice:before {
  content: "";
}

.icon-laptop_chromebook:before {
  content: "";
}

.icon-laptop_mac:before {
  content: "";
}

.icon-laptop_windows:before {
  content: "";
}

.icon-memory:before {
  content: "";
}

.icon-mouse:before {
  content: "";
}

.icon-phone_android:before {
  content: "";
}

.icon-phone_iphone:before {
  content: "";
}

.icon-phonelink_off:before {
  content: "";
}

.icon-router:before {
  content: "";
}

.icon-scanner:before {
  content: "";
}

.icon-security:before {
  content: "";
}

.icon-sim_card:before {
  content: "";
}

.icon-speaker:before {
  content: "";
}

.icon-speaker_group:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-tablet_android:before {
  content: "";
}

.icon-tablet_mac:before {
  content: "";
}

.icon-toys:before {
  content: "";
}

.icon-tv:before {
  content: "";
}

.icon-watch:before {
  content: "";
}

.icon-device_hub:before {
  content: "";
}

.icon-power_input:before {
  content: "";
}

.icon-devices_other:before {
  content: "";
}

.icon-videogame_asset:before {
  content: "";
}

.icon-device_unknown:before {
  content: "";
}

.icon-headset_off:before {
  content: "";
}

.icon-adjust:before {
  content: "";
}

.icon-assistant:before {
  content: "";
}

.icon-audiotrack:before {
  content: "";
}

.icon-blur_circular:before {
  content: "";
}

.icon-blur_linear:before {
  content: "";
}

.icon-blur_off:before {
  content: "";
}

.icon-blur_on:before {
  content: "";
}

.icon-brightness_1:before {
  content: "";
}

.icon-brightness_2:before {
  content: "";
}

.icon-brightness_3:before {
  content: "";
}

.icon-brightness_4:before {
  content: "";
}

.icon-broken_image:before {
  content: "";
}

.icon-brush:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-camera_altphoto_cameralocal_see:before {
  content: "";
}

.icon-camera_front:before {
  content: "";
}

.icon-camera_rear:before {
  content: "";
}

.icon-camera_roll:before {
  content: "";
}

.icon-center_focus_strong:before {
  content: "";
}

.icon-center_focus_weak:before {
  content: "";
}

.icon-collectionsphoto_library:before {
  content: "";
}

.icon-color_lenspalette:before {
  content: "";
}

.icon-colorize:before {
  content: "";
}

.icon-compare:before {
  content: "";
}

.icon-control_point_duplicate:before {
  content: "";
}

.icon-crop_16_9:before {
  content: "";
}

.icon-crop_3_2:before {
  content: "";
}

.icon-crop:before {
  content: "";
}

.icon-crop_5_4crop_landscape:before {
  content: "";
}

.icon-crop_7_5:before {
  content: "";
}

.icon-crop_din:before {
  content: "";
}

.icon-crop_free:before {
  content: "";
}

.icon-crop_original:before {
  content: "";
}

.icon-crop_portrait:before {
  content: "";
}

.icon-crop_square:before {
  content: "";
}

.icon-dehaze:before {
  content: "";
}

.icon-details:before {
  content: "";
}

.icon-exposure:before {
  content: "";
}

.icon-exposure_minus_1:before {
  content: "";
}

.icon-exposure_minus_2:before {
  content: "";
}

.icon-exposure_plus_1:before {
  content: "";
}

.icon-exposure_plus_2:before {
  content: "";
}

.icon-exposure_zero:before {
  content: "";
}

.icon-filter_1:before {
  content: "";
}

.icon-filter_2:before {
  content: "";
}

.icon-filter_3:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-filter_4:before {
  content: "";
}

.icon-filter_5:before {
  content: "";
}

.icon-filter_6:before {
  content: "";
}

.icon-filter_7:before {
  content: "";
}

.icon-filter_8:before {
  content: "";
}

.icon-filter_9:before {
  content: "";
}

.icon-filter_9_plus:before {
  content: "";
}

.icon-filter_b_and_w:before {
  content: "";
}

.icon-filter_center_focus:before {
  content: "";
}

.icon-filter_drama:before {
  content: "";
}

.icon-filter_frames:before {
  content: "";
}

.icon-filter_hdrlandscapeterrain:before {
  content: "";
}

.icon-filter_none:before {
  content: "";
}

.icon-filter_tilt_shift:before {
  content: "";
}

.icon-filter_vintage:before {
  content: "";
}

.icon-flare:before {
  content: "";
}

.icon-flash_auto:before {
  content: "";
}

.icon-flash_off:before {
  content: "";
}

.icon-flash_on:before {
  content: "";
}

.icon-flip:before {
  content: "";
}

.icon-gradient:before {
  content: "";
}

.icon-grain:before {
  content: "";
}

.icon-grid_off:before {
  content: "";
}

.icon-grid_on:before {
  content: "";
}

.icon-hdr_off:before {
  content: "";
}

.icon-hdr_on:before {
  content: "";
}

.icon-hdr_strong:before {
  content: "";
}

.icon-hdr_weak:before {
  content: "";
}

.icon-healing:before {
  content: "";
}

.icon-image_aspect_ratio:before {
  content: "";
}

.icon-iso:before {
  content: "";
}

.icon-leak_add:before {
  content: "";
}

.icon-leak_remove:before {
  content: "";
}

.icon-lens:before {
  content: "";
}

.icon-looks_3:before {
  content: "";
}

.icon-looks:before {
  content: "";
}

.icon-looks_4:before {
  content: "";
}

.icon-looks_5:before {
  content: "";
}

.icon-looks_6:before {
  content: "";
}

.icon-looks_one:before {
  content: "";
}

.icon-looks_two:before {
  content: "";
}

.icon-loupe:before {
  content: "";
}

.icon-monochrome_photos:before {
  content: "";
}

.icon-music_note:before {
  content: "";
}

.icon-nature:before {
  content: "";
}

.icon-nature_people:before {
  content: "";
}

.icon-navigate_beforechevron_left:before {
  content: "";
}

.icon-navigate_nextchevron_right:before {
  content: "";
}

.icon-panorama:before {
  content: "";
}

.icon-panorama_fish_eyeradio_button_unchecked:before {
  content: "";
}

.icon-panorama_horizontal:before {
  content: "";
}

.icon-panorama_vertical:before {
  content: "";
}

.icon-panorama_wide_angle:before {
  content: "";
}

.icon-photo_album:before {
  content: "";
}

.icon-picture_as_pdf:before {
  content: "";
}

.icon-portrait:before {
  content: "";
}

.icon-remove_red_eyevisibility:before {
  content: "";
}

.icon-rotate_90_degrees_ccw:before {
  content: "";
}

.icon-rotate_left:before {
  content: "";
}

.icon-rotate_right:before {
  content: "";
}

.icon-slideshow:before {
  content: "";
}

.icon-straighten:before {
  content: "";
}

.icon-style:before {
  content: "";
}

.icon-switch_camera:before {
  content: "";
}

.icon-switch_video:before {
  content: "";
}

.icon-texture:before {
  content: "";
}

.icon-timelapse:before {
  content: "";
}

.icon-timer_10:before {
  content: "";
}

.icon-timer_3:before {
  content: "";
}

.icon-timer:before {
  content: "";
}

.icon-timer_off:before {
  content: "";
}

.icon-tonality:before {
  content: "";
}

.icon-transform:before {
  content: "";
}

.icon-tune:before {
  content: "";
}

.icon-view_comfortable:before {
  content: "";
}

.icon-view_compact:before {
  content: "";
}

.icon-wb_auto:before {
  content: "";
}

.icon-wb_cloudy:before {
  content: "";
}

.icon-wb_incandescent:before {
  content: "";
}

.icon-wb_sunny:before {
  content: "";
}

.icon-collections_bookmark:before {
  content: "";
}

.icon-photo_size_select_actual:before {
  content: "";
}

.icon-photo_size_select_large:before {
  content: "";
}

.icon-photo_size_select_small:before {
  content: "";
}

.icon-vignette:before {
  content: "";
}

.icon-wb_iridescent:before {
  content: "";
}

.icon-crop_rotate:before {
  content: "";
}

.icon-linked_camera:before {
  content: "";
}

.icon-add_a_photo:before {
  content: "";
}

.icon-movie_filter:before {
  content: "";
}

.icon-photo_filter:before {
  content: "";
}

.icon-burst_mode:before {
  content: "";
}

.icon-shutter_speed:before {
  content: "";
}

.icon-add_photo_alternate:before {
  content: "";
}

.icon-image_search:before {
  content: "";
}

.icon-music_off:before {
  content: "";
}

.icon-beenhere:before {
  content: "";
}

.icon-directions:before {
  content: "";
}

.icon-directions_bike:before {
  content: "";
}

.icon-directions_bus:before {
  content: "";
}

.icon-directions_car:before {
  content: "";
}

.icon-directions_ferry:before {
  content: "";
}

.icon-directions_subwaydirections_transit:before {
  content: "";
}

.icon-directions_railway:before {
  content: "";
}

.icon-directions_walk:before {
  content: "";
}

.icon-hotellocal_hotel:before {
  content: "";
}

.icon-layers:before {
  content: "";
}

.icon-layers_clear:before {
  content: "";
}

.icon-local_atm:before {
  content: "";
}

.icon-local_attractionlocal_play:before {
  content: "";
}

.icon-local_bar:before {
  content: "";
}

.icon-local_cafefree_breakfast:before {
  content: "";
}

.icon-local_car_wash:before {
  content: "";
}

.icon-local_convenience_store:before {
  content: "";
}

.icon-local_drink:before {
  content: "";
}

.icon-local_florist:before {
  content: "";
}

.icon-local_gas_station:before {
  content: "";
}

.icon-local_hospital:before {
  content: "";
}

.icon-local_laundry_service:before {
  content: "";
}

.icon-local_library:before {
  content: "";
}

.icon-local_mall:before {
  content: "";
}

.icon-local_moviestheaters:before {
  content: "";
}

.icon-local_offer:before {
  content: "";
}

.icon-local_parking:before {
  content: "";
}

.icon-local_pharmacy:before {
  content: "";
}

.icon-local_pizza:before {
  content: "";
}

.icon-local_print_shopprint:before {
  content: "";
}

.icon-local_restaurantrestaurant_menu:before {
  content: "";
}

.icon-local_shipping:before {
  content: "";
}

.icon-local_taxi:before {
  content: "";
}

.icon-location_history:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-navigation:before {
  content: "";
}

.icon-pin_drop:before {
  content: "";
}

.icon-rate_review:before {
  content: "";
}

.icon-satellite:before {
  content: "";
}

.icon-store_mall_directorystore:before {
  content: "";
}

.icon-traffic:before {
  content: "";
}

.icon-directions_run:before {
  content: "";
}

.icon-add_location:before {
  content: "";
}

.icon-edit_location:before {
  content: "";
}

.icon-near_me:before {
  content: "";
}

.icon-person_pin_circle:before {
  content: "";
}

.icon-zoom_out_map:before {
  content: "";
}

.icon-restaurant:before {
  content: "";
}

.icon-ev_station:before {
  content: "";
}

.icon-streetview:before {
  content: "";
}

.icon-subway:before {
  content: "";
}

.icon-train:before {
  content: "";
}

.icon-tram:before {
  content: "";
}

.icon-transfer_within_a_station:before {
  content: "";
}

.icon-atm:before {
  content: "";
}

.icon-category:before {
  content: "";
}

.icon-not_listed_location:before {
  content: "";
}

.icon-departure_board:before {
  content: "";
}

.icon-360:before {
  content: "";
}

.icon-edit_attributes:before {
  content: "";
}

.icon-transit_enterexit:before {
  content: "";
}

.icon-fastfood:before {
  content: "";
}

.icon-trip_origin:before {
  content: "";
}

.icon-compass_calibration:before {
  content: "";
}

.icon-money:before {
  content: "";
}

.icon-apps:before {
  content: "";
}

.icon-arrow_back:before {
  content: "";
}

.icon-arrow_drop_down:before {
  content: "";
}

.icon-arrow_drop_down_circle:before {
  content: "";
}

.icon-arrow_drop_up:before {
  content: "";
}

.icon-arrow_forward:before {
  content: "";
}

.icon-cancel:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-expand_less:before {
  content: "";
}

.icon-expand_more:before {
  content: "";
}

.icon-fullscreen:before {
  content: "";
}

.icon-fullscreen_exit:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-keyboard_control:before {
  content: "";
}

.icon-more_vert:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-unfold_less:before {
  content: "";
}

.icon-unfold_more:before {
  content: "";
}

.icon-arrow_upward:before {
  content: "";
}

.icon-subdirectory_arrow_left:before {
  content: "";
}

.icon-subdirectory_arrow_right:before {
  content: "";
}

.icon-arrow_downward:before {
  content: "";
}

.icon-first_page:before {
  content: "";
}

.icon-last_page:before {
  content: "";
}

.icon-arrow_left:before {
  content: "";
}

.icon-arrow_right:before {
  content: "";
}

.icon-arrow_back_ios:before {
  content: "";
}

.icon-arrow_forward_ios:before {
  content: "";
}

.icon-adb:before {
  content: "";
}

.icon-disc_full:before {
  content: "";
}

.icon-do_not_disturb_alt:before {
  content: "";
}

.icon-drive_etatime_to_leave:before {
  content: "";
}

.icon-event_available:before {
  content: "";
}

.icon-event_busy:before {
  content: "";
}

.icon-event_note:before {
  content: "";
}

.icon-folder_special:before {
  content: "";
}

.icon-mms:before {
  content: "";
}

.icon-more:before {
  content: "";
}

.icon-network_locked:before {
  content: "";
}

.icon-phone_bluetooth_speaker:before {
  content: "";
}

.icon-phone_forwarded:before {
  content: "";
}

.icon-phone_in_talk:before {
  content: "";
}

.icon-phone_locked:before {
  content: "";
}

.icon-phone_missed:before {
  content: "";
}

.icon-phone_paused:before {
  content: "";
}

.icon-sim_card_alert:before {
  content: "";
}

.icon-sms_failedfeedback:before {
  content: "";
}

.icon-sync_disabled:before {
  content: "";
}

.icon-sync_problem:before {
  content: "";
}

.icon-system_update:before {
  content: "";
}

.icon-tap_and_play:before {
  content: "";
}

.icon-vibration:before {
  content: "";
}

.icon-voice_chat:before {
  content: "";
}

.icon-vpn_lock:before {
  content: "";
}

.icon-airline_seat_flat:before {
  content: "";
}

.icon-airline_seat_flat_angled:before {
  content: "";
}

.icon-airline_seat_individual_suite:before {
  content: "";
}

.icon-airline_seat_legroom_extra:before {
  content: "";
}

.icon-airline_seat_legroom_normal:before {
  content: "";
}

.icon-airline_seat_legroom_reduced:before {
  content: "";
}

.icon-airline_seat_recline_extra:before {
  content: "";
}

.icon-airline_seat_recline_normal:before {
  content: "";
}

.icon-confirmation_number:before {
  content: "";
}

.icon-live_tv:before {
  content: "";
}

.icon-ondemand_video:before {
  content: "";
}

.icon-personal_video:before {
  content: "";
}

.icon-power:before {
  content: "";
}

.icon-wc:before {
  content: "";
}

.icon-wifi:before {
  content: "";
}

.icon-enhanced_encryption:before {
  content: "";
}

.icon-network_check:before {
  content: "";
}

.icon-no_encryption:before {
  content: "";
}

.icon-rv_hookup:before {
  content: "";
}

.icon-do_not_disturb_off:before {
  content: "";
}

.icon-priority_high:before {
  content: "";
}

.icon-power_off:before {
  content: "";
}

.icon-tv_off:before {
  content: "";
}

.icon-wifi_off:before {
  content: "";
}

.icon-phone_callback:before {
  content: "";
}

.icon-pie_chart:before {
  content: "";
}

.icon-pie_chart_outlined:before {
  content: "";
}

.icon-bubble_chart:before {
  content: "";
}

.icon-multiline_chart:before {
  content: "";
}

.icon-show_chart:before {
  content: "";
}

.icon-cake:before {
  content: "";
}

.icon-grouppeople:before {
  content: "";
}

.icon-group_add:before {
  content: "";
}

.icon-location_city:before {
  content: "";
}

.icon-mood_bad:before {
  content: "";
}

.icon-notifications:before {
  content: "";
}

.icon-notifications_none:before {
  content: "";
}

.icon-notifications_off:before {
  content: "";
}

.icon-notifications_active:before {
  content: "";
}

.icon-notifications_paused:before {
  content: "";
}

.icon-pages:before {
  content: "";
}

.icon-party_mode:before {
  content: "";
}

.icon-people_outline:before {
  content: "";
}

.icon-person:before {
  content: "";
}

.icon-person_add:before {
  content: "";
}

.icon-person_outlineperm_identity:before {
  content: "";
}

.icon-plus_one:before {
  content: "";
}

.icon-public:before {
  content: "";
}

.icon-school:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-whatshot:before {
  content: "";
}

.icon-sentiment_dissatisfied:before {
  content: "";
}

.icon-sentiment_neutral:before {
  content: "";
}

.icon-sentiment_satisfied:before {
  content: "";
}

.icon-sentiment_very_dissatisfied:before {
  content: "";
}

.icon-sentiment_very_satisfied:before {
  content: "";
}

.icon-thumb_down_alt:before {
  content: "";
}

.icon-thumb_up_alt:before {
  content: "";
}

.icon-check_box:before {
  content: "";
}

.icon-check_box_outline_blank:before {
  content: "";
}

.icon-radio_button_checked:before {
  content: "";
}

.icon-stargrade:before {
  content: "";
}

.icon-star_half:before {
  content: "";
}

.icon-star_outline:before {
  content: "";
}

.icon-3d_rotation:before {
  content: "";
}

.icon-accessibility:before {
  content: "";
}

.icon-account_balance:before {
  content: "";
}

.icon-account_balance_wallet:before {
  content: "";
}

.icon-account_box:before {
  content: "";
}

.icon-account_circle:before {
  content: "";
}

.icon-add_shopping_cart:before {
  content: "";
}

.icon-alarm_off:before {
  content: "";
}

.icon-alarm_on:before {
  content: "";
}

.icon-android:before {
  content: "";
}

.icon-announcement:before {
  content: "";
}

.icon-aspect_ratio:before {
  content: "";
}

.icon-assignment:before {
  content: "";
}

.icon-assignment_ind:before {
  content: "";
}

.icon-assignment_late:before {
  content: "";
}

.icon-assignment_return:before {
  content: "";
}

.icon-assignment_returned:before {
  content: "";
}

.icon-assignment_turned_in:before {
  content: "";
}

.icon-autorenew:before {
  content: "";
}

.icon-bookclass:before {
  content: "";
}

.icon-bookmarkturned_in:before {
  content: "";
}

.icon-bookmark_outlineturned_in_not:before {
  content: "";
}

.icon-bug_report:before {
  content: "";
}

.icon-build:before {
  content: "";
}

.icon-cached:before {
  content: "";
}

.icon-change_history:before {
  content: "";
}

.icon-check_circle:before {
  content: "";
}

.icon-chrome_reader_mode:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-credit_cardpayment:before {
  content: "";
}

.icon-dashboard:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-description:before {
  content: "";
}

.icon-dns:before {
  content: "";
}

.icon-done:before {
  content: "";
}

.icon-done_all:before {
  content: "";
}

.icon-exit_to_app:before {
  content: "";
}

.icon-explore:before {
  content: "";
}

.icon-extension:before {
  content: "";
}

.icon-face:before {
  content: "";
}

.icon-favorite:before {
  content: "";
}

.icon-favorite_outline:before {
  content: "";
}

.icon-find_in_page:before {
  content: "";
}

.icon-find_replace:before {
  content: "";
}

.icon-flip_to_back:before {
  content: "";
}

.icon-flip_to_front:before {
  content: "";
}

.icon-group_work:before {
  content: "";
}

.icon-help:before {
  content: "";
}

.icon-highlight_remove:before {
  content: "";
}

.icon-historyrestore:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-hourglass_empty:before {
  content: "";
}

.icon-hourglass_full:before {
  content: "";
}

.icon-httpslock:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-info_outline:before {
  content: "";
}

.icon-input:before {
  content: "";
}

.icon-invert_colors_on:before {
  content: "";
}

.icon-label:before {
  content: "";
}

.icon-label_outline:before {
  content: "";
}

.icon-language:before {
  content: "";
}

.icon-launchopen_in_new:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-lock_open:before {
  content: "";
}

.icon-lock_outline:before {
  content: "";
}

.icon-loyalty:before {
  content: "";
}

.icon-markunread_mailbox:before {
  content: "";
}

.icon-note_add:before {
  content: "";
}

.icon-open_in_browser:before {
  content: "";
}

.icon-open_with:before {
  content: "";
}

.icon-pageview:before {
  content: "";
}

.icon-perm_camera_mic:before {
  content: "";
}

.icon-perm_contact_calendar:before {
  content: "";
}

.icon-perm_data_setting:before {
  content: "";
}

.icon-perm_device_information:before {
  content: "";
}

.icon-perm_media:before {
  content: "";
}

.icon-perm_phone_msg:before {
  content: "";
}

.icon-perm_scan_wifi:before {
  content: "";
}

.icon-picture_in_picture:before {
  content: "";
}

.icon-polymer:before {
  content: "";
}

.icon-power_settings_new:before {
  content: "";
}

.icon-receipt:before {
  content: "";
}

.icon-redeemcard_giftcard:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-settings_applications:before {
  content: "";
}

.icon-settings_backup_restore:before {
  content: "";
}

.icon-settings_bluetooth:before {
  content: "";
}

.icon-settings_cell:before {
  content: "";
}

.icon-settings_brightness:before {
  content: "";
}

.icon-settings_ethernet:before {
  content: "";
}

.icon-settings_input_antenna:before {
  content: "";
}

.icon-settings_input_componentsettings_input_composite:before {
  content: "";
}

.icon-settings_input_hdmi:before {
  content: "";
}

.icon-settings_input_svideo:before {
  content: "";
}

.icon-settings_overscan:before {
  content: "";
}

.icon-settings_phone:before {
  content: "";
}

.icon-settings_power:before {
  content: "";
}

.icon-settings_remote:before {
  content: "";
}

.icon-settings_voice:before {
  content: "";
}

.icon-shop:before {
  content: "";
}

.icon-shop_two:before {
  content: "";
}

.icon-shopping_basket:before {
  content: "";
}

.icon-shopping_cart:before {
  content: "";
}

.icon-speaker_notes:before {
  content: "";
}

.icon-spellcheck:before {
  content: "";
}

.icon-stars:before {
  content: "";
}

.icon-subject:before {
  content: "";
}

.icon-supervisor_account:before {
  content: "";
}

.icon-swap_horiz:before {
  content: "";
}

.icon-swap_vert:before {
  content: "";
}

.icon-swap_vertical_circle:before {
  content: "";
}

.icon-system_update_alt:before {
  content: "";
}

.icon-tab:before {
  content: "";
}

.icon-tab_unselected:before {
  content: "";
}

.icon-thumb_down:before {
  content: "";
}

.icon-thumb_up:before {
  content: "";
}

.icon-thumbs_up_down:before {
  content: "";
}

.icon-toc:before {
  content: "";
}

.icon-today:before {
  content: "";
}

.icon-toll:before {
  content: "";
}

.icon-track_changes:before {
  content: "";
}

.icon-translate:before {
  content: "";
}

.icon-trending_down:before {
  content: "";
}

.icon-trending_neutral:before {
  content: "";
}

.icon-trending_up:before {
  content: "";
}

.icon-verified_user:before {
  content: "";
}

.icon-view_agenda:before {
  content: "";
}

.icon-view_array:before {
  content: "";
}

.icon-view_carousel:before {
  content: "";
}

.icon-view_column:before {
  content: "";
}

.icon-view_day:before {
  content: "";
}

.icon-view_headline:before {
  content: "";
}

.icon-view_list:before {
  content: "";
}

.icon-view_module:before {
  content: "";
}

.icon-view_quilt:before {
  content: "";
}

.icon-view_stream:before {
  content: "";
}

.icon-view_week:before {
  content: "";
}

.icon-visibility_off:before {
  content: "";
}

.icon-card_membership:before {
  content: "";
}

.icon-card_travel:before {
  content: "";
}

.icon-work:before {
  content: "";
}

.icon-youtube_searched_for:before {
  content: "";
}

.icon-eject:before {
  content: "";
}

.icon-camera_enhance:before {
  content: "";
}

.icon-help_outline:before {
  content: "";
}

.icon-reorder:before {
  content: "";
}

.icon-zoom_in:before {
  content: "";
}

.icon-zoom_out:before {
  content: "";
}

.icon-http:before {
  content: "";
}

.icon-event_seat:before {
  content: "";
}

.icon-flight_land:before {
  content: "";
}

.icon-flight_takeoff:before {
  content: "";
}

.icon-play_for_work:before {
  content: "";
}

.icon-gif:before {
  content: "";
}

.icon-indeterminate_check_box:before {
  content: "";
}

.icon-offline_pin:before {
  content: "";
}

.icon-all_out:before {
  content: "";
}

.icon-copyright:before {
  content: "";
}

.icon-fingerprint:before {
  content: "";
}

.icon-gavel:before {
  content: "";
}

.icon-lightbulb_outline:before {
  content: "";
}

.icon-picture_in_picture_alt:before {
  content: "";
}

.icon-important_devices:before {
  content: "";
}

.icon-touch_app:before {
  content: "";
}

.icon-accessible:before {
  content: "";
}

.icon-compare_arrows:before {
  content: "";
}

.icon-date_range:before {
  content: "";
}

.icon-donut_large:before {
  content: "";
}

.icon-donut_small:before {
  content: "";
}

.icon-line_style:before {
  content: "";
}

.icon-line_weight:before {
  content: "";
}

.icon-motorcycle:before {
  content: "";
}

.icon-opacity:before {
  content: "";
}

.icon-pets:before {
  content: "";
}

.icon-pregnant_woman:before {
  content: "";
}

.icon-record_voice_over:before {
  content: "";
}

.icon-rounded_corner:before {
  content: "";
}

.icon-rowing:before {
  content: "";
}

.icon-timeline:before {
  content: "";
}

.icon-update:before {
  content: "";
}

.icon-watch_later:before {
  content: "";
}

.icon-pan_tool:before {
  content: "";
}

.icon-euro_symbol:before {
  content: "";
}

.icon-g_translate:before {
  content: "";
}

.icon-remove_shopping_cart:before {
  content: "";
}

.icon-restore_page:before {
  content: "";
}

.icon-speaker_notes_off:before {
  content: "";
}

.icon-delete_forever:before {
  content: "";
}

.icon-accessibility_new:before {
  content: "";
}

.icon-check_circle_outline:before {
  content: "";
}

.icon-delete_outline:before {
  content: "";
}

.icon-done_outline:before {
  content: "";
}

.icon-maximize:before {
  content: "";
}

.icon-minimize:before {
  content: "";
}

.icon-offline_bolt:before {
  content: "";
}

.icon-swap_horizontal_circle:before {
  content: "";
}

.icon-accessible_forward:before {
  content: "";
}

.icon-calendar_today:before {
  content: "";
}

.icon-calendar_view_day:before {
  content: "";
}

.icon-label_important:before {
  content: "";
}

.icon-restore_from_trash:before {
  content: "";
}

.icon-supervised_user_circle:before {
  content: "";
}

.icon-text_rotate_up:before {
  content: "";
}

.icon-text_rotate_vertical:before {
  content: "";
}

.icon-text_rotation_angledown:before {
  content: "";
}

.icon-text_rotation_angleup:before {
  content: "";
}

.icon-text_rotation_down:before {
  content: "";
}

.icon-text_rotation_none:before {
  content: "";
}

.icon-commute:before {
  content: "";
}

.icon-arrow_right_alt:before {
  content: "";
}

.icon-work_off:before {
  content: "";
}

.icon-work_outline:before {
  content: "";
}

.icon-drag_indicator:before {
  content: "";
}

.icon-horizontal_split:before {
  content: "";
}

.icon-label_important_outline:before {
  content: "";
}

.icon-vertical_split:before {
  content: "";
}

.icon-voice_over_off:before {
  content: "";
}

.icon-segment:before {
  content: "";
}

.icon-contact_support:before {
  content: "";
}

.icon-compress:before {
  content: "";
}

.icon-filter_list_alt:before {
  content: "";
}

.icon-expand:before {
  content: "";
}

.icon-edit_off:before {
  content: "";
}

.icon-10k:before {
  content: "";
}

.icon-10mp:before {
  content: "";
}

.icon-11mp:before {
  content: "";
}

.icon-12mp:before {
  content: "";
}

.icon-13mp:before {
  content: "";
}

.icon-14mp:before {
  content: "";
}

.icon-15mp:before {
  content: "";
}

.icon-16mp:before {
  content: "";
}

.icon-17mp:before {
  content: "";
}

.icon-18mp:before {
  content: "";
}

.icon-19mp:before {
  content: "";
}

.icon-1k:before {
  content: "";
}

.icon-1k_plus:before {
  content: "";
}

.icon-20mp:before {
  content: "";
}

.icon-21mp:before {
  content: "";
}

.icon-22mp:before {
  content: "";
}

.icon-23mp:before {
  content: "";
}

.icon-24mp:before {
  content: "";
}

.icon-2k:before {
  content: "";
}

.icon-2k_plus:before {
  content: "";
}

.icon-2mp:before {
  content: "";
}

.icon-3k:before {
  content: "";
}

.icon-3k_plus:before {
  content: "";
}

.icon-3mp:before {
  content: "";
}

.icon-4k_plus:before {
  content: "";
}

.icon-4mp:before {
  content: "";
}

.icon-5k:before {
  content: "";
}

.icon-5k_plus:before {
  content: "";
}

.icon-5mp:before {
  content: "";
}

.icon-6k:before {
  content: "";
}

.icon-6k_plus:before {
  content: "";
}

.icon-6mp:before {
  content: "";
}

.icon-7k:before {
  content: "";
}

.icon-7k_plus:before {
  content: "";
}

.icon-7mp:before {
  content: "";
}

.icon-8k:before {
  content: "";
}

.icon-8k_plus:before {
  content: "";
}

.icon-8mp:before {
  content: "";
}

.icon-9k:before {
  content: "";
}

.icon-9k_plus:before {
  content: "";
}

.icon-9mp:before {
  content: "";
}

.icon-account_tree:before {
  content: "";
}

.icon-add_chart:before {
  content: "";
}

.icon-add_ic_call:before {
  content: "";
}

.icon-add_moderator:before {
  content: "";
}

.icon-all_inbox:before {
  content: "";
}

.icon-approval:before {
  content: "";
}

.icon-assistant_direction:before {
  content: "";
}

.icon-assistant_navigation:before {
  content: "";
}

.icon-bookmarks:before {
  content: "";
}

.icon-bus_alert:before {
  content: "";
}

.icon-cases:before {
  content: "";
}

.icon-circle_notifications:before {
  content: "";
}

.icon-closed_caption_off:before {
  content: "";
}

.icon-connected_tv:before {
  content: "";
}

.icon-dangerous:before {
  content: "";
}

.icon-dashboard_customize:before {
  content: "";
}

.icon-desktop_access_disabled:before {
  content: "";
}

.icon-drive_file_move_outline:before {
  content: "";
}

.icon-drive_file_rename_outline:before {
  content: "";
}

.icon-drive_folder_upload:before {
  content: "";
}

.icon-duo:before {
  content: "";
}

.icon-explore_off:before {
  content: "";
}

.icon-file_download_done:before {
  content: "";
}

.icon-rtt:before {
  content: "";
}

.icon-grid_view:before {
  content: "";
}

.icon-hail:before {
  content: "";
}

.icon-home_filled:before {
  content: "";
}

.icon-imagesearch_roller:before {
  content: "";
}

.icon-label_off:before {
  content: "";
}

.icon-library_add_check:before {
  content: "";
}

.icon-logout:before {
  content: "";
}

.icon-margin:before {
  content: "";
}

.icon-mark_as_unread:before {
  content: "";
}

.icon-menu_open:before {
  content: "";
}

.icon-mp:before {
  content: "";
}

.icon-offline_share:before {
  content: "";
}

.icon-padding:before {
  content: "";
}

.icon-panorama_photosphere:before {
  content: "";
}

.icon-panorama_photosphere_select:before {
  content: "";
}

.icon-person_add_disabled:before {
  content: "";
}

.icon-phone_disabled:before {
  content: "";
}

.icon-phone_enabled:before {
  content: "";
}

.icon-pivot_table_chart:before {
  content: "";
}

.icon-print_disabled:before {
  content: "";
}

.icon-railway_alert:before {
  content: "";
}

.icon-recommend:before {
  content: "";
}

.icon-remove_done:before {
  content: "";
}

.icon-remove_moderator:before {
  content: "";
}

.icon-repeat_on:before {
  content: "";
}

.icon-repeat_one_on:before {
  content: "";
}

.icon-replay_circle_filled:before {
  content: "";
}

.icon-reset_tv:before {
  content: "";
}

.icon-sd:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shuffle_on:before {
  content: "";
}

.icon-speed:before {
  content: "";
}

.icon-stacked_bar_chart:before {
  content: "";
}

.icon-stream:before {
  content: "";
}

.icon-swipe:before {
  content: "";
}

.icon-switch_account:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-thumb_down_off_alt:before {
  content: "";
}

.icon-thumb_up_off_alt:before {
  content: "";
}

.icon-toggle_off:before {
  content: "";
}

.icon-toggle_on:before {
  content: "";
}

.icon-two_wheeler:before {
  content: "";
}

.icon-upload_file:before {
  content: "";
}

.icon-view_in_ar:before {
  content: "";
}

.icon-waterfall_chart:before {
  content: "";
}

.icon-wb_shade:before {
  content: "";
}

.icon-wb_twighlight:before {
  content: "";
}

.icon-home_work:before {
  content: "";
}

.icon-schedule_send:before {
  content: "";
}

.icon-bolt:before {
  content: "";
}

.icon-send_and_archive:before {
  content: "";
}

.icon-workspaces_filled:before {
  content: "";
}

.icon-file_present:before {
  content: "";
}

.icon-workspaces_outline:before {
  content: "";
}

.icon-fit_screen:before {
  content: "";
}

.icon-saved_search:before {
  content: "";
}

.icon-storefront:before {
  content: "";
}

.icon-amp_stories:before {
  content: "";
}

.icon-dynamic_feed:before {
  content: "";
}

.icon-euro:before {
  content: "";
}

.icon-height:before {
  content: "";
}

.icon-policy:before {
  content: "";
}

.icon-sync_alt:before {
  content: "";
}

.icon-menu_book:before {
  content: "";
}

.icon-emoji_flags:before {
  content: "";
}

.icon-emoji_food_beverage:before {
  content: "";
}

.icon-emoji_nature:before {
  content: "";
}

.icon-emoji_people:before {
  content: "";
}

.icon-emoji_symbols:before {
  content: "";
}

.icon-emoji_transportation:before {
  content: "";
}

.icon-post_add:before {
  content: "";
}

.icon-people_alt:before {
  content: "";
}

.icon-emoji_emotions:before {
  content: "";
}

.icon-emoji_events:before {
  content: "";
}

.icon-emoji_objects:before {
  content: "";
}

.icon-sports_basketball:before {
  content: "";
}

.icon-sports_cricket:before {
  content: "";
}

.icon-sports_esports:before {
  content: "";
}

.icon-sports_football:before {
  content: "";
}

.icon-sports_golf:before {
  content: "";
}

.icon-sports_hockey:before {
  content: "";
}

.icon-sports_mma:before {
  content: "";
}

.icon-sports_motorsports:before {
  content: "";
}

.icon-sports_rugby:before {
  content: "";
}

.icon-sports_soccer:before {
  content: "";
}

.icon-sports:before {
  content: "";
}

.icon-sports_volleyball:before {
  content: "";
}

.icon-sports_tennis:before {
  content: "";
}

.icon-sports_handball:before {
  content: "";
}

.icon-sports_kabaddi:before {
  content: "";
}

.icon-eco:before {
  content: "";
}

.icon-museum:before {
  content: "";
}

.icon-flip_camera_android:before {
  content: "";
}

.icon-flip_camera_ios:before {
  content: "";
}

.icon-cancel_schedule_send:before {
  content: "";
}

.icon-apartment:before {
  content: "";
}

.icon-bathtub:before {
  content: "";
}

.icon-deck:before {
  content: "";
}

.icon-fireplace:before {
  content: "";
}

.icon-house:before {
  content: "";
}

.icon-king_bed:before {
  content: "";
}

.icon-nights_stay:before {
  content: "";
}

.icon-outdoor_grill:before {
  content: "";
}

.icon-single_bed:before {
  content: "";
}

.icon-square_foot:before {
  content: "";
}

.icon-double_arrow:before {
  content: "";
}

.icon-sports_baseball:before {
  content: "";
}

.icon-attractions:before {
  content: "";
}

.icon-bakery_dining:before {
  content: "";
}

.icon-breakfast_dining:before {
  content: "";
}

.icon-car_rental:before {
  content: "";
}

.icon-car_repair:before {
  content: "";
}

.icon-dinner_dining:before {
  content: "";
}

.icon-dry_cleaning:before {
  content: "";
}

.icon-hardware:before {
  content: "";
}

.icon-liquor:before {
  content: "";
}

.icon-lunch_dining:before {
  content: "";
}

.icon-nightlife:before {
  content: "";
}

.icon-park:before {
  content: "";
}

.icon-ramen_dining:before {
  content: "";
}

.icon-celebration:before {
  content: "";
}

.icon-theater_comedy:before {
  content: "";
}

.icon-badge:before {
  content: "";
}

.icon-festival:before {
  content: "";
}

.icon-icecream:before {
  content: "";
}

.icon-volunteer_activism:before {
  content: "";
}

.icon-contactless:before {
  content: "";
}

.icon-delivery_dining:before {
  content: "";
}

.icon-brunch_dining:before {
  content: "";
}

.icon-takeout_dining:before {
  content: "";
}

.icon-ac_unit:before {
  content: "";
}

.icon-airport_shuttle:before {
  content: "";
}

.icon-all_inclusive:before {
  content: "";
}

.icon-beach_access:before {
  content: "";
}

.icon-business_center:before {
  content: "";
}

.icon-casino:before {
  content: "";
}

.icon-child_care:before {
  content: "";
}

.icon-child_friendly:before {
  content: "";
}

.icon-fitness_center:before {
  content: "";
}

.icon-golf_course:before {
  content: "";
}

.icon-hot_tub:before {
  content: "";
}

.icon-kitchen:before {
  content: "";
}

.icon-pool:before {
  content: "";
}

.icon-room_service:before {
  content: "";
}

.icon-smoke_free:before {
  content: "";
}

.icon-smoking_rooms:before {
  content: "";
}

.icon-spa:before {
  content: "";
}

.icon-no_meeting_room:before {
  content: "";
}

.icon-meeting_room:before {
  content: "";
}

.icon-goat:before {
  content: "";
}

.btn {
  border: none;
  border-radius: 1.5rem;
}

.btn.btn-primary {
  background-color: #368dd9;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #4b99dd;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary-active:hover, .btn.btn-primary-active:focus, .btn.btn-primary-active:active {
  transition: all 0.3s ease-in-out;
}

.btn.btn-secondary {
  background-color: #238c66;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
  background-color: #28a075;
  transition: all 0.3s ease-in-out;
}

.btn.btn-secondary-active:hover, .btn.btn-secondary-active:focus, .btn.btn-secondary-active:active {
  transition: all 0.3s ease-in-out;
}

.btn.btn-tertiary {
  background-color: #f2ad94;
}
.btn.btn-tertiary:hover, .btn.btn-tertiary:focus, .btn.btn-tertiary:active {
  background-color: #f5beab;
  transition: all 0.3s ease-in-out;
}

.btn.btn-tertiary-active:hover, .btn.btn-tertiary-active:focus, .btn.btn-tertiary-active:active {
  transition: all 0.3s ease-in-out;
}

.card {
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-3px);
}

.highlight {
  font-family: "Anton";
  font-size: 1.5rem;
}

.highlight-tag {
  font-weight: bold;
  color: #f2f2f2;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

.oferta {
  background-color: #238c66;
}

.last-units {
  background-color: crimson;
}

.out-of-stock {
  background-color: #373737;
}

.carousel .carousel-item {
  position: relative;
}
.carousel img {
  max-width: 100%;
}
.carousel .slide-text {
  display: none;
}

@media (min-width: 768px) {
  .carousel .slide-text {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    bottom: 1rem;
    display: block;
    max-width: 50rem;
    position: absolute;
    padding: 0.5rem;
    right: 3rem;
  }
  .carousel .slide-text h2, .carousel .slide-text p {
    color: #f2f2f2;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-shadow: 0.4px 0.4px 2px #2a2a2a;
  }
  .carousel .slide-text h2 {
    font-family: "Anton";
  }
}
footer {
  background-color: #238c66;
  margin-top: 2rem;
  padding: 2rem 0;
}
footer a.repository {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-row {
  margin-top: 2rem;
  width: 100%;
}

.form-crud textarea {
  resize: none;
  height: 8.75rem;
}

.form-error {
  color: var(--danger);
  font-family: "Manjari";
}

@media (min-width: 768px) {
  .form *[type=submit] {
    align-self: flex-end;
  }
}
header {
  background: #f2f2f2;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}
header.pinned {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  max-width: none;
  top: 0;
  z-index: 9999;
}
header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .burger {
  background: none;
  background-image: url("../assets/img/bars.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  font-size: 0;
  height: 2.25rem;
  width: 2.25rem;
}
header .burger:focus {
  outline: none;
}
header #logo {
  height: 2.625rem;
  margin-bottom: 0;
  width: 8.3125rem;
}
header #logo a {
  background-image: url("../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 992px) {
  header .burger {
    display: none;
  }
  header #logo {
    width: 11rem;
  }
}
.main-menu {
  background: #238c66;
  left: -100%;
  padding: 0.75rem 0;
  position: fixed;
  transition: left 0.3s ease-in-out;
  width: 100%;
  z-index: 9999;
}
.main-menu.open {
  left: 0;
}
.main-menu ul li.dropdown button,
.main-menu ul li.dropdown button:hover,
.main-menu ul li.dropdown button:focus,
.main-menu ul li.dropdown button:active, .main-menu ul li.dropdown.show button,
.main-menu ul li.dropdown.show button:hover,
.main-menu ul li.dropdown.show button:focus,
.main-menu ul li.dropdown.show button:active {
  align-items: center;
  background: none;
  border: none;
  box-shadow: none;
  color: #f2f2f2;
  display: flex;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0;
}
.main-menu ul li.dropdown a, .main-menu ul li.dropdown.show a {
  color: #2a2a2a;
}
.main-menu ul li.cart a span.has-items {
  position: relative;
}
.main-menu ul li.cart a span.has-items::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  display: block;
  background: red;
  border-radius: 50%;
}
.main-menu ul li a,
.main-menu ul li a:hover {
  color: white;
  display: block;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  width: 100%;
}
.main-menu ul li a.active {
  color: #368dd9;
}

@media (min-width: 992px) {
  .main-menu {
    background: none;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: relative;
    width: 50%;
  }
  .main-menu ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
  }
  .main-menu ul li.dropdown button,
.main-menu ul li.dropdown button:hover,
.main-menu ul li.dropdown button:focus,
.main-menu ul li.dropdown button:active, .main-menu ul li.dropdown.show button,
.main-menu ul li.dropdown.show button:hover,
.main-menu ul li.dropdown.show button:focus,
.main-menu ul li.dropdown.show button:active {
    color: #2a2a2a;
  }
  .main-menu ul li a {
    color: #2a2a2a;
    transition: color 0.3s ease-in-out;
  }
  .main-menu ul li a:hover {
    color: #368dd9;
  }
}
.listado-productos .card-img-top {
  border-radius: unset;
  max-height: 170px;
  object-fit: cover;
}
.listado-productos .card-body {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.listado-productos .card-body a.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
}

#formEditProduct label[for=cover] {
  background-image: url("../assets/img/image-placeholder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  cursor: pointer;
  display: block;
  height: 127px;
  margin-top: 0.5rem;
}
#formEditProduct input#cover {
  display: block;
  width: 100%;
}

.admin-home img {
  display: block;
}
.admin-home .latest-items {
  box-shadow: 2px 2px 5px #222;
}
.admin-home li.item {
  background-color: #222;
  color: #f2f2f2;
  padding: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.admin-home li.item:nth-child(odd) {
  background-color: #aaa;
  color: #2a2a2a;
}
.admin-home li.order {
  list-style: disc;
  margin-left: 1rem;
}
.admin-home .thumbnail {
  display: inline-block;
  height: 60px;
  margin-right: 1rem;
}

#formCreateProduct label[for=cover]::after {
  content: url("../assets/img/image-placeholder.png");
  cursor: pointer;
  display: block;
  height: 100px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
#formCreateProduct input#cover:focus ~ label {
  border: 2px solid #368dd9;
  padding-bottom: 1rem;
  border-radius: 4px;
}

#detalle .fingerprint {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#detalle .tarjetas > div {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  height: 5rem;
}
#detalle .tarjetas > div:first-of-type {
  background-image: url("../assets/img/visa.png");
  background-size: 75%;
}
#detalle .tarjetas > div:nth-of-type(2) {
  background-image: url("../assets/img/mastercard.png");
  background-size: 60%;
}
#detalle .tarjetas > div:nth-of-type(3) {
  background-image: url("../assets/img/mercado-pago.png");
  background-size: 100%;
}

#contacto {
  min-height: 60vh;
}

.login-panel {
  min-height: 60vh;
}

#user-profile img.avatar {
  background-color: #f2f2f2;
  display: block;
  margin-top: 1rem;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#user-profile button[type=submit] {
  font-family: "Manjari";
}
#user-profile a {
  cursor: pointer;
  color: #f2f2f2;
}
#user-profile p {
  margin-bottom: 0;
}
#user-profile label {
  font-weight: 700;
}
#user-profile input[type=text] {
  font-family: "Manjari";
  color: #2a2a2a;
  background: #f2f2f2;
}
#user-profile input[type=text][readonly] {
  appearance: none;
  background: none;
  border: none;
  color: #f2f2f2;
}
#user-profile input:not(#email)[type=text][readonly] {
  padding: 0;
}
#user-profile input:not(#email)[type=text][readonly][value=""] {
  height: 0;
  line-height: 0;
}
#user-profile input#email {
  display: block;
  width: 100%;
}

#cart .card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.375rem;
}
#cart .thumbnail {
  display: block;
  height: 100%;
  max-width: none;
  object-fit: cover;
}
#cart button[type=submit] {
  text-indent: -1rem;
}

#purchase legend {
  font-size: 1rem;
}
#purchase .payment-set {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#purchase .payment-set .method {
  align-items: center;
  display: flex;
}
#purchase .payment-set .method label {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  height: 3.75rem;
  margin-left: 1rem;
  position: relative;
  width: 6.25rem;
}
#purchase .payment-set .method.visa label {
  background-image: url("../assets/img/visa.png");
}
#purchase .payment-set .method.mastercard label {
  background-image: url("../assets/img/mastercard.png");
}
#purchase .payment-set .method.mercadopago label {
  background-image: url("../assets/img/mercado-pago.png");
}

body {
  background-color: #2a2a2a;
  background-image: radial-gradient(#2a2a2a, #1d1d1d);
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  font-family: "Anton";
  color: #f2f2f2;
}

h4,
h5,
h6,
p,
span,
label,
legend,
ul,
li,
a {
  font-family: "Manjari";
}

ul {
  list-style: none;
}

.invert {
  filter: invert(1);
}
