#formEditProduct {
	label[for=cover] {
		background-image: url("../assets/img/image-placeholder.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center bottom;
		cursor: pointer;
		display: block;
		height: 127px;
		margin-top: .5rem;
	}

	input#cover {
		display: block;
		width: 100%;
	}
}