.admin-home {
    img {
        display: block;
    }

    .latest-items {
        box-shadow: 2px 2px 5px #222;
    }

    li {
        &.item {
            background-color: #222;
            color: color("light");
            padding: .75rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            
            &:nth-child(odd) {
                background-color: #aaa;
                color: color("dark");
            }
        }

        &.order {
            list-style: disc;
            margin-left: 1rem;
        }
    }

    .thumbnail {
        display: inline-block;
        height: 60px;
        margin-right: 1rem;
    }
}
