#formCreateProduct {
    label[for=cover] {
        &::after {
            content: url("../assets/img/image-placeholder.png");
            cursor: pointer;
            display: block;
            height: 100px;
            margin-top: .5rem;
            margin-bottom: 2rem;
        }
    }

    input#cover:focus ~ label {
        border: 2px solid color("primary");
        padding-bottom: 1rem;
        border-radius: 4px;
    }
}
