#cart {
    .card {
        @extend %card;
    }

    .card-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: to-rem("22px");
    }

    .thumbnail {
        display: block;
        height: 100%;
        max-width: none;
        object-fit: cover;
    }

    button[type="submit"] {
        text-indent: -1rem;
    }
}
