#purchase {
    legend {
        font-size: 1rem;
    }

    .payment-set {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .method {
            align-items: center;
            display: flex;

            label {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                font-size: 0;
                height: to-rem("60px");
                margin-left: 1rem;
                position: relative;
                width: to-rem("100px");
            }

            &.visa {
                label {
                    background-image: url("../assets/img/visa.png");
                }
            }

            &.mastercard {
                label {
                    background-image: url("../assets/img/mastercard.png");
                }
            }

            &.mercadopago {
                label {
                    background-image: url("../assets/img/mercado-pago.png");
                }
            }
        }
    }
}
