#detalle {
  .fingerprint {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tarjetas {
    > div {
      background-origin: border-box;
      background-position: center;
      background-repeat: no-repeat;
      font-size: 0;
      height: 5rem;
      
      &:first-of-type {
        background-image: url("../assets/img/visa.png");
        background-size: 75%;
      }
      
      &:nth-of-type(2) {
        background-image: url("../assets/img/mastercard.png");
        background-size: 60%;
      }
      
      &:nth-of-type(3) {
        background-image: url("../assets/img/mercado-pago.png");
        background-size: 100%;
      }
    }
  }
}
