#user-profile {
    img.avatar {
        background-color: color("light");
        display: block;
        margin-top: 1rem;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    button[type="submit"] {
        font-family: font("paragraph");
    }

    a {
        cursor: pointer;
        color: color("light");
    }

    p {
        margin-bottom: 0;
    }

    label {
        font-weight: 700;
    }

    input[type="text"] {
        font-family: font("paragraph");
        color: color("dark");
        background: color("light");
    }
    
    input[type="text"][readonly] {
        appearance: none;
        background: none;
        border: none;
        color: color("light");
    }

    input:not(#email)[type="text"][readonly] {
        padding: 0;
    }
    
    input:not(#email)[type="text"][readonly][value=""] {
        height: 0;
        line-height: 0;
    }

    input#email {
        display: block;
        width: 100%;
    }
}
