.carousel {
	.carousel-item {
		position: relative;
	}
	
	img {
		max-width: 100%;
	}

	.slide-text {
		display: none;
	}
}

@include screen("md") {
    .carousel {
        .slide-text {
            background-color: rgba(black, .7);
            border-radius: 4px;
            bottom: 1rem;
            display: block;
            max-width: 50rem;
            position: absolute;
            padding: .5rem;
            right: 3rem;
            
            h2, p {
                color: color("light");
                font-size: 1.25rem;
                letter-spacing: 1px;
                text-shadow: .4px .4px 2px color("dark");
            }
            
            h2 {
                font-family: font("title");
            }
        }
    }
}
