footer {
    background-color: color("secondary");
    margin-top: 2rem;
    padding: 2rem 0;

    a.repository {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
}
