.form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-row {
    margin-top: 2rem;
	width: 100%;
}

.form-crud {
    textarea {
        resize: none;
        height: to-rem("140px");
    }
}

.form-error {
    color: var(--danger);
    font-family: font("paragraph");
}

@include screen("md") {
    .form {
        *[type=submit] {
            align-self: flex-end;
        }
    }
}
