header {
  background: color("light");
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  &.pinned {
    box-shadow: 0 3px 6px rgba(black, .2);
    position: fixed;
    max-width: none;
    top: 0;
    z-index: 9999;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .burger {
    background: none;
    background-image: url("../assets/img/bars.svg"); 
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 0;
    height: 2.25rem;
    width: 2.25rem;

    &:focus {
      outline: none;
    }
  }

  #logo {
    height: to-rem("42px");
    margin-bottom: 0;
    width: to-rem("133px");
  
    a {
      background-image: url("../assets/img/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 0;
      height: 100%;
      width: 100%;
    }
  }
}



@include screen("lg") {
  header {
    .burger {
      display: none;
    }

    #logo {
      width: 11rem;
    }
  }
}
