.listado-productos {
  .card {
    @extend %card;
  }
  
  .card-img-top {
    border-radius: unset;
    max-height: 170px;
    object-fit: cover;
  }
  
  .card-body {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    a.btn {
      padding-left: 1rem;
      padding-right: 1rem;
      width: fit-content;
    }
  }
}
