.main-menu {
    background: color("secondary");
    left: -100%;
    padding: 0.75rem 0;
    position: fixed;
    transition: left 0.3s ease-in-out;
    width: 100%;
    z-index: 9999;

    &.open {
        left: 0;
    }

    ul {
        li {
            &.dropdown,
            &.dropdown.show {
                button,
                button:hover,
                button:focus,
                button:active {
                    align-items: center;
                    background: none;
                    border: none;
                    box-shadow: none;
                    color: color("light");
                    display: flex;
                    font-size: 1.5rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding: 0;
                }
                a {
                    color: color("dark");
                }
            }
            &.cart {
                a span.has-items {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 8px;
                        height: 8px;
                        display: block;
                        background: red;
                        border-radius: 50%;
                    }
                }
            }
            a,
            a:hover {
                color: white;
                display: block;
                font-size: 1.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
                text-decoration: none;
                width: 100%;
            }

            a.active {
                color: color("primary");
            }
        }
    }
}

@include screen("lg") {
    .main-menu {
        background: none;
        display: flex;
        justify-content: space-between;
        left: 0;
        position: relative;
        width: 50%;

        ul {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            width: 100%;

            li {
                &.dropdown,
                &.dropdown.show {
                    button,
                    button:hover,
                    button:focus,
                    button:active {
                        color: color("dark");
                    }
                }
                a {
                    color: color("dark");
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: color("primary");
                    }
                }
            }
        }
    }
}
