.btn {
	border: none;
	border-radius: 1.5rem;
}

@include button("primary");
@include button("primary-active");
@include button("secondary");
@include button("secondary-active");
@include button("tertiary");
@include button("tertiary-active");