.highlight {
    font-family: "Anton";
    font-size: 1.5rem;
}

.highlight-tag {
    font-weight: bold;
    color: color("light");
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}

.oferta {
    background-color: color("secondary");
}

.last-units {
    background-color: crimson;
}

.out-of-stock {
    background-color: color("medium");
}
