body {
    background-color: color("dark");
    background-image: radial-gradient(#{color("dark")}, #{color("darker")});
    background-repeat: no-repeat;
}

h1,
h2,
h3 {
    font-family: font("title");
    color: color("light");
}

h4,
h5,
h6,
p,
span,
label,
legend,
ul,
li,
a {
    font-family: "Manjari";
}

ul {
    list-style: none;
}

.invert {
    filter: invert(1);
}
