@font-face {
  src: url("../assets/fonts/anton-regular.woff");
  font-family: "Anton";
  font-weight: normal;
}

@font-face {
  src: url("../assets/fonts/manjari-regular.woff");
  font-family: "Manjari";
  font-weight: normal;
}