///	Convierte un número en formato string a tipo number
/// @param {string} $value - el número en string a ser convetido
/// @return {number}

@function number($value) {
	@if type-of($value) == 'number' {
		@return $value;
	} @else if type-of($value) != 'string' {
		$_: log('Value for `to-number` should be a number or a string.');
	}

	$result: 0;
	$digits: 0;
	$minus: str-slice($value, 1, 1) == '-';
	$numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

	@for $i from if($minus, 2, 1) through str-length($value) {
		$character: str-slice($value, $i, $i);

		@if not (index(map-keys($numbers), $character) or $character == '.') {
			@return to-length(if($minus, -$result, $result), str-slice($value, $i));
		}

		@if $character == '.' {
			$digits: 1;
		} @else if $digits == 0 {
			$result: $result * 10 + map-get($numbers, $character);
		} @else {
			$digits: $digits * 10;
			$result: $result + map-get($numbers, $character) / $digits;
		}
	}

	@return if($minus, -$result, $result);
}


///	Obtiene el primer índice de un array
///	@param {list} $list
///	@return {string}

@function first($list) {
	@return nth($list, 1);
}


///	Obtiene el último índice de un array
///	@param {list} $list
///	@return {string}

@function last($list) {
	@return nth($list, length($list));
}


///	Convierte de píxel a rem
///	@param {string} $text-size
///	@return {string}

@function to-rem($text-size) {
	$split-text-size: str-slice($text-size, 1, -3);

	$text-to-rem: number(first($split-text-size)) / 16;
	@return #{$text-to-rem}rem;
}

///	Obtiene la tipografía deseada del array de fuentes
///	@param {string} $font
///	@return font-family
 
@function font($font) {
	@return map-get($fonts, $font);
}


///	Obtiene un color del array de colores
///	@param {string} $color
///	@return color in HEX
 
@function color($color) {
	@return map-get($colors, $color);
}
