///	Genera los estilos correspondientes para cada botón
///	@param {String} $type - El tipo de botón: "default", "success", "warning", "danger" ó "disabled"

@mixin button($type) {
	.btn {
		&.btn-#{$type} {
			$color: color($type);
			$color-active: color($type+"-light");
			background-color: $color;
			color: color("white");

			&:hover, &:focus, &:active {
				background-color: #{$color-active};
				transition: all .3s ease-in-out;
			}
		}
	}
}

///	Genera los distintos media queries basado en los breakpoints de Bootstrap
///	@param {String} $size - Tamaño de pantalla: "sm", "md", "lg" ó "xs"
 
@mixin screen($size) {
	@if $size == "sm" {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $size == "md" {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $size == "lg" {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == "xl" {
		@media (min-width: 1200px) {
			@content;
		}
	}
}
