$fonts: (
    paragraph: "Manjari",
    title: "Anton"
);

$colors: (
    primary: #368dd9,
    primary-light: lighten(#368dd9, 5%),
    secondary: #238c66,
    secondary-light: lighten(#238c66, 5%),
    tertiary: #f2ad94,
    tertiary-light: lighten(#f2ad94, 5%),
    darker: darken(#2a2a2a, 5%),
    dark: #2a2a2a,
    medium: lighten(#2a2a2a, 5%),
    light: #f2f2f2
);
